.template-modal {
	width: 90%;
	max-width: 1000px;
	background: black;
	padding: 10px;
	margin: 60px auto 0;
}

.template-modal .template-header {
	margin: 0 0 8px;
	position: relative;
}

.template-modal .template-header .template-name {
	font-size: 22px;
}

.template-modal .template-header .close-button {
	font-size: 26px;
	position: absolute;
	right: 5px;
	top: 2px;
}

.template-modal .template-header .close-button:hover {
	cursor: pointer;
	color: red;
}

.template-modal .template-body {
	overflow: hidden;
}

.template-modal .template-body .textarea-markup {
	width: 100%;
	height: 350px;
	resize: vertical;
}

.template-modal .template-body .button-controls {
	margin: 5px 0;
}

.template-modal .template-body .button-controls button {
	margin-right: 5px;
	font-size: 16px;
	height: 26px;
	min-width: 80px;
}

.template-modal .template-body .error-msg {
	font-size: 18px;
}

.template-modal .template-body .error-msg .text {
	color: red;
}
