.templates-preview {
	display: flex;
}

.templates-title {
	font-size: 20px;
	padding: 10px;
	text-align: right;
}

.templates-preview .templates-preview-container {
	width: 100%;
	max-width: 50%;
}

.template-convert-error {
	font-size: 18px;
	color: red;
	text-align: center;
}

.templates-loading {
	padding: 10px;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    background: darkgray;
    margin: 5px 0px;
}
